.suscribir{
    background: #6B6B6B;
    background: -webkit-linear-gradient(to bottom, #6B6B6B 78%, #FFFFFF 79%);
    background: -moz-linear-gradient(to bottom, #6B6B6B 78%, #FFFFFF 79%);
    background: linear-gradient(to bottom, #6B6B6B 78%, #FFFFFF 79%);
    height: 400px;
}